body{
  background-color: rgba(0, 0, 0, 0.605);
  color: white;
}

.App {
  text-align: center;
  
}


.card-container {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   max-height: 100vh;
}

.sub-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.card > img {
  width: 170px
}